In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor

pd.options.display.float_format = '{:,.2f}'.format

# setup interactive notebook mode
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.display import display, HTML

In [2]:
import plotly
plotly.offline.init_notebook_mode(connected=True)
from plotly.graph_objs import *
from plotly import tools
import plotly.graph_objects as go
import seaborn as sns

In [3]:
from datetime import datetime

airlines_data = pd.read_csv('../datasets/project/Detailed_Statistics_Arrivals.csv', parse_dates=['Date (MM/DD/YYYY)'], date_parser=lambda x: datetime.strptime(x, '%m/%d/%y'))
airlines_data.head()

syr_weather_data = pd.read_csv('../datasets/project/hs/syracuse-syr.csv', parse_dates=['timestamp_local'], date_parser=lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%S'))
ord_weather_data = pd.read_csv('../datasets/project/hs/chicago-ord.csv', parse_dates=['timestamp_local'], date_parser=lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%S'))
den_weather_data = pd.read_csv('../datasets/project/hs/denver-den.csv', parse_dates=['timestamp_local'], date_parser=lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%S'))
ewr_weather_data = pd.read_csv('../datasets/project/hs/newark-ewr.csv', parse_dates=['timestamp_local'], date_parser=lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%S'))
iad_weather_data = pd.read_csv('../datasets/project/hs/washington-iad.csv', parse_dates=['timestamp_local'], date_parser=lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%S'))


syr_weather_data.columns
ord_weather_data.columns
den_weather_data.columns
ewr_weather_data.columns
iad_weather_data.columns

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Arrival Delay (Minutes),Wheels-on Time,Taxi-In time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,UA,2022-01-01,1282,N4901U,IAD,23:10,0:01,70,76,51,23:55,6,23,0,6,0,22
1,UA,2023-01-01,604,N814UA,DEN,14:58,14:52,193,177,-6,14:48,4,0,0,0,0,0
2,UA,2023-01-01,2488,N38458,EWR,23:14,23:15,75,62,1,23:10,5,0,0,0,0,0
3,UA,2023-01-01,2645,N23721,ORD,23:57,23:47,107,100,-10,23:41,6,0,0,0,0,0
4,UA,2022-01-02,1282,N4901U,IAD,23:10,23:27,70,64,17,23:19,8,17,0,0,0,0

Index(['app_temp', 'azimuth', 'clouds', 'datetime', 'dewpt', 'dhi', 'dni',
       'elev_angle', 'ghi', 'h_angle', 'pod', 'precip', 'pres',
       'revision_status', 'rh', 'slp', 'snow', 'solar_rad', 'temp',
       'timestamp_local', 'timestamp_utc', 'ts', 'uv', 'vis', 'weather',
       'wind_dir', 'wind_gust_spd', 'wind_spd'],
      dtype='object')

Index(['app_temp', 'azimuth', 'clouds', 'datetime', 'dewpt', 'dhi', 'dni',
       'elev_angle', 'ghi', 'h_angle', 'pod', 'precip', 'pres',
       'revision_status', 'rh', 'slp', 'snow', 'solar_rad', 'temp',
       'timestamp_local', 'timestamp_utc', 'ts', 'uv', 'vis', 'weather',
       'wind_dir', 'wind_gust_spd', 'wind_spd'],
      dtype='object')

Index(['app_temp', 'azimuth', 'clouds', 'datetime', 'dewpt', 'dhi', 'dni',
       'elev_angle', 'ghi', 'h_angle', 'pod', 'precip', 'pres',
       'revision_status', 'rh', 'slp', 'snow', 'solar_rad', 'temp',
       'timestamp_local', 'timestamp_utc', 'ts', 'uv', 'vis', 'weather',
       'wind_dir', 'wind_gust_spd', 'wind_spd'],
      dtype='object')

Index(['app_temp', 'azimuth', 'clouds', 'datetime', 'dewpt', 'dhi', 'dni',
       'elev_angle', 'ghi', 'h_angle', 'pod', 'precip', 'pres',
       'revision_status', 'rh', 'slp', 'snow', 'solar_rad', 'temp',
       'timestamp_local', 'timestamp_utc', 'ts', 'uv', 'vis', 'weather',
       'wind_dir', 'wind_gust_spd', 'wind_spd'],
      dtype='object')

Index(['app_temp', 'azimuth', 'clouds', 'datetime', 'dewpt', 'dhi', 'dni',
       'elev_angle', 'ghi', 'h_angle', 'pod', 'precip', 'pres',
       'revision_status', 'rh', 'slp', 'snow', 'solar_rad', 'temp',
       'timestamp_local', 'timestamp_utc', 'ts', 'uv', 'vis', 'weather',
       'wind_dir', 'wind_gust_spd', 'wind_spd'],
      dtype='object')

In [4]:
weather_factors = ['timestamp_local', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis']

syr_weather_data = syr_weather_data[weather_factors]
ord_weather_data = ord_weather_data[weather_factors]
den_weather_data = den_weather_data[weather_factors]
ewr_weather_data = ewr_weather_data[weather_factors]
iad_weather_data = iad_weather_data[weather_factors]

In [5]:
airlines_factors = ['Date (MM/DD/YYYY)',
                    'Delay National Aviation System (Minutes)', 
                    'Delay Weather (Minutes)', 
                    'Delay Carrier (Minutes)',                              
                    'Delay Late Aircraft Arrival (Minutes)',
                    'Arrival Delay (Minutes)',
                    'Scheduled Arrival Time',
                    'Origin Airport']

airlines_data = airlines_data[airlines_factors]
airlines_data = airlines_data.rename(columns={'Date (MM/DD/YYYY)': 'Date', 
                                              'Delay Carrier (Minutes)': 'Delay Carrier', 
                                              'Delay Weather (Minutes)': 'Delay Weather', 
                                              'Delay Late Aircraft Arrival (Minutes)': 'Delay Late Aircraft Arrival', 
                                              'Arrival Delay (Minutes)': 'Arrival Delay',
                                              'Delay National Aviation System (Minutes)': 'Delay National Aviation System'})
airlines_data.columns

syr_weather_data = syr_weather_data.rename(columns={'timestamp_local': 'time'})
syr_weather_data.columns

ord_weather_data = ord_weather_data.rename(columns={'timestamp_local': 'time'})
ord_weather_data.columns

den_weather_data = den_weather_data.rename(columns={'timestamp_local': 'time'})
den_weather_data.columns

ewr_weather_data = ewr_weather_data.rename(columns={'timestamp_local': 'time'})
ewr_weather_data.columns

iad_weather_data = iad_weather_data.rename(columns={'timestamp_local': 'time'})
iad_weather_data.columns

Index(['Date', 'Delay National Aviation System', 'Delay Weather',
       'Delay Carrier', 'Delay Late Aircraft Arrival', 'Arrival Delay',
       'Scheduled Arrival Time', 'Origin Airport'],
      dtype='object')

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

In [6]:
airlines_data['time'] = pd.to_datetime(airlines_data['Date'].astype(str) + 'T' + 
                                       airlines_data['Scheduled Arrival Time'].astype(str)).round('H')
airlines_data = airlines_data.drop(columns=['Date', 'Scheduled Arrival Time'])
airlines_data.head()

,Delay National Aviation System,Delay Weather,Delay Carrier,Delay Late Aircraft Arrival,Arrival Delay,Origin Airport,time
0,6,0,23,22,51,IAD,2022-01-01 23:00:00
1,0,0,0,0,-6,DEN,2023-01-01 15:00:00
2,0,0,0,0,1,EWR,2023-01-01 23:00:00
3,0,0,0,0,-10,ORD,2023-01-02 00:00:00
4,0,0,17,0,17,IAD,2022-01-02 23:00:00

In [7]:
syr_weather_data.dtypes

ord_weather_data.dtypes

den_weather_data.dtypes

ewr_weather_data.dtypes

iad_weather_data.dtypes

time      datetime64[ns]
temp             float64
clouds             int64
rh                 int64
dewpt            float64
precip           float64
snow             float64
vis              float64
dtype: object

time      datetime64[ns]
temp             float64
clouds             int64
rh                 int64
dewpt            float64
precip           float64
snow             float64
vis              float64
dtype: object

time      datetime64[ns]
temp             float64
clouds             int64
rh                 int64
dewpt            float64
precip           float64
snow             float64
vis              float64
dtype: object

time      datetime64[ns]
temp             float64
clouds             int64
rh                 int64
dewpt            float64
precip           float64
snow             float64
vis                int64
dtype: object

time      datetime64[ns]
temp             float64
clouds             int64
rh                 int64
dewpt            float64
precip           float64
snow             float64
vis                int64
dtype: object

In [8]:
airlines_data.dtypes

Delay National Aviation System             int64
Delay Weather                              int64
Delay Carrier                              int64
Delay Late Aircraft Arrival                int64
Arrival Delay                              int64
Origin Airport                            object
time                              datetime64[ns]
dtype: object

In [9]:
airlines_data_cp = airlines_data.copy()
syr_dataset = airlines_data_cp.merge(syr_weather_data, on='time', how='left')

In [10]:
syr_dataset.columns
airlines_data.columns

Index(['Delay National Aviation System', 'Delay Weather', 'Delay Carrier',
       'Delay Late Aircraft Arrival', 'Arrival Delay', 'Origin Airport',
       'time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'],
      dtype='object')

Index(['Delay National Aviation System', 'Delay Weather', 'Delay Carrier',
       'Delay Late Aircraft Arrival', 'Arrival Delay', 'Origin Airport',
       'time'],
      dtype='object')

In [11]:
corrmat = syr_dataset.corr()
corrmat['Arrival Delay'].sort_values()

/var/folders/hm/06_n0ww96r7d2cltmt4xtyjr0000gn/T/ipykernel_45981/2392745747.py:1: FutureWarning:

The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.

vis                              -0.04
snow                             -0.00
temp                              0.01
clouds                            0.03
dewpt                             0.03
precip                            0.04
rh                                0.05
Delay National Aviation System    0.22
Delay Weather                     0.47
Delay Carrier                     0.59
Delay Late Aircraft Arrival       0.67
Arrival Delay                     1.00
Name: Arrival Delay, dtype: float64

In [12]:
ord_dataset = airlines_data[airlines_data['Origin Airport'] == 'ORD']
ord_dataset.columns

ord_weather_data = ord_weather_data.rename(columns={'timestamp_local': 'time'})
ord_weather_data.columns

ord_dataset = ord_dataset.merge(ord_weather_data, on='time', how='left')

ord_dataset.columns

ord_dataset.head()

corrmat = ord_dataset.corr()
corrmat['Arrival Delay'].sort_values()

Index(['Delay National Aviation System', 'Delay Weather', 'Delay Carrier',
       'Delay Late Aircraft Arrival', 'Arrival Delay', 'Origin Airport',
       'time'],
      dtype='object')

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

Index(['Delay National Aviation System', 'Delay Weather', 'Delay Carrier',
       'Delay Late Aircraft Arrival', 'Arrival Delay', 'Origin Airport',
       'time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'],
      dtype='object')

,Delay National Aviation System,Delay Weather,Delay Carrier,Delay Late Aircraft Arrival,Arrival Delay,Origin Airport,time,temp,clouds,rh,dewpt,precip,snow,vis
0,0,0,0,0,-10,ORD,2023-01-02 00:00:00,5.20,92,89,3.50,0.00,0.00,10.00
1,0,0,0,0,-21,ORD,2023-01-02 21:00:00,2.90,96,94,2.00,0.08,0.00,10.00
2,0,0,0,0,-3,ORD,2023-01-03 21:00:00,3.00,92,96,2.40,0.23,0.00,10.00
3,0,0,0,0,14,ORD,2023-01-04 21:00:00,0.50,85,89,-1.10,0.09,1.07,10.00
4,0,0,0,0,8,ORD,2020-01-05 22:00:00,2.10,54,68,-3.20,0.00,0.00,NaN

/var/folders/hm/06_n0ww96r7d2cltmt4xtyjr0000gn/T/ipykernel_45981/3030693318.py:13: FutureWarning:

The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.

vis                              -0.15
temp                             -0.03
snow                              0.00
dewpt                             0.02
precip                            0.07
clouds                            0.09
rh                                0.12
Delay National Aviation System    0.22
Delay Weather                     0.50
Delay Carrier                     0.55
Delay Late Aircraft Arrival       0.69
Arrival Delay                     1.00
Name: Arrival Delay, dtype: float64

In [13]:
den_dataset = airlines_data[airlines_data['Origin Airport'] == 'DEN']
den_dataset.shape

den_weather_data = den_weather_data.rename(columns={'timestamp_local': 'time'})
den_weather_data.columns

den_dataset = den_dataset.merge(den_weather_data, on='time', how='left')

den_dataset.columns

den_dataset.head()

corrmat = den_dataset.corr()
corrmat['Arrival Delay'].sort_values()

(354, 7)

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

Index(['Delay National Aviation System', 'Delay Weather', 'Delay Carrier',
       'Delay Late Aircraft Arrival', 'Arrival Delay', 'Origin Airport',
       'time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'],
      dtype='object')

,Delay National Aviation System,Delay Weather,Delay Carrier,Delay Late Aircraft Arrival,Arrival Delay,Origin Airport,time,temp,clouds,rh,dewpt,precip,snow,vis
0,0,0,0,0,-6,DEN,2023-01-01 15:00:00,2.00,94,64,-4.10,0.00,0.00,16.00
1,24,0,40,91,155,DEN,2023-01-02 15:00:00,-3.00,100,100,-3.00,0.00,0.00,3.00
2,0,0,0,0,-6,DEN,2023-01-03 15:00:00,-3.00,87,79,-6.10,0.00,0.00,16.00
3,0,0,0,0,-12,DEN,2023-01-04 15:00:00,2.00,25,31,-13.30,0.00,0.00,16.00
4,0,0,0,0,0,DEN,2023-01-05 15:00:00,0.00,87,50,-9.20,0.00,0.00,16.00

/var/folders/hm/06_n0ww96r7d2cltmt4xtyjr0000gn/T/ipykernel_45981/4010358392.py:13: FutureWarning:

The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.

vis                              -0.19
temp                             -0.15
precip                           -0.02
dewpt                            -0.01
snow                              0.01
clouds                            0.08
Delay Weather                     0.19
rh                                0.21
Delay National Aviation System    0.52
Delay Late Aircraft Arrival       0.63
Delay Carrier                     0.73
Arrival Delay                     1.00
Name: Arrival Delay, dtype: float64

In [14]:
ewr_dataset = airlines_data[airlines_data['Origin Airport'] == 'EWR']
ewr_dataset.shape

ewr_weather_data = ewr_weather_data.rename(columns={'timestamp_local': 'time'})
ewr_weather_data.columns

ewr_dataset = ewr_dataset.merge(ewr_weather_data, on='time', how='left')

ewr_dataset.columns

ewr_dataset.head()

corrmat = ewr_dataset.corr()
corrmat['Arrival Delay'].sort_values()

(64, 7)

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

Index(['Delay National Aviation System', 'Delay Weather', 'Delay Carrier',
       'Delay Late Aircraft Arrival', 'Arrival Delay', 'Origin Airport',
       'time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'],
      dtype='object')

,Delay National Aviation System,Delay Weather,Delay Carrier,Delay Late Aircraft Arrival,Arrival Delay,Origin Airport,time,temp,clouds,rh,dewpt,precip,snow,vis
0,0,0,0,0,1,EWR,2023-01-01 23:00:00,10.00,100,58,2.10,0.00,0.00,16
1,0,0,52,0,52,EWR,2023-01-09 23:00:00,3.30,25,54,-5.10,0.00,0.00,16
2,0,0,0,0,-23,EWR,2023-01-10 23:00:00,4.40,100,54,-4.10,0.00,0.00,16
3,0,0,0,0,-4,EWR,2023-01-11 23:00:00,3.90,100,64,-2.30,0.00,0.00,16
4,88,0,0,58,146,EWR,2023-01-12 23:00:00,13.30,87,90,11.70,0.00,0.00,14

/var/folders/hm/06_n0ww96r7d2cltmt4xtyjr0000gn/T/ipykernel_45981/4148591676.py:13: FutureWarning:

The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.

temp                             -0.29
vis                              -0.25
dewpt                            -0.15
clouds                           -0.03
precip                            0.05
rh                                0.21
Delay National Aviation System    0.30
Delay Carrier                     0.69
Delay Late Aircraft Arrival       0.90
Arrival Delay                     1.00
Delay Weather                      NaN
snow                               NaN
Name: Arrival Delay, dtype: float64

In [15]:
iad_dataset = airlines_data[airlines_data['Origin Airport'] == 'IAD']
iad_dataset.shape

iad_weather_data = iad_weather_data.rename(columns={'timestamp_local': 'time'})
iad_weather_data.columns

iad_dataset = iad_dataset.merge(iad_weather_data, on='time', how='left')

iad_dataset.columns

iad_dataset.head()

corrmat = iad_dataset.corr()
corrmat['Arrival Delay'].sort_values()

(331, 7)

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

Index(['Delay National Aviation System', 'Delay Weather', 'Delay Carrier',
       'Delay Late Aircraft Arrival', 'Arrival Delay', 'Origin Airport',
       'time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'],
      dtype='object')

,Delay National Aviation System,Delay Weather,Delay Carrier,Delay Late Aircraft Arrival,Arrival Delay,Origin Airport,time,temp,clouds,rh,dewpt,precip,snow,vis
0,6,0,23,22,51,IAD,2022-01-01 23:00:00,13.90,100,96,13.30,1.25,0.00,16
1,0,0,17,0,17,IAD,2022-01-02 23:00:00,6.70,100,65,0.60,0.75,0.00,16
2,1,0,0,26,27,IAD,2023-01-02 23:00:00,11.10,87,80,7.80,0.00,0.00,16
3,0,0,21,0,21,IAD,2022-01-03 23:00:00,-2.20,0,62,-8.50,0.00,0.00,16
4,20,0,115,0,135,IAD,2022-01-05 00:00:00,-2.80,16,82,-5.40,0.00,0.00,16

/var/folders/hm/06_n0ww96r7d2cltmt4xtyjr0000gn/T/ipykernel_45981/238141727.py:13: FutureWarning:

The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.

vis                              -0.06
snow                             -0.01
temp                              0.13
rh                                0.16
dewpt                             0.16
Delay National Aviation System    0.16
clouds                            0.19
precip                            0.27
Delay Weather                     0.44
Delay Late Aircraft Arrival       0.62
Delay Carrier                     0.63
Arrival Delay                     1.00
Name: Arrival Delay, dtype: float64

In [16]:
dataset = pd.concat([syr_dataset, ord_dataset, iad_dataset, den_dataset, ewr_dataset])

In [17]:
from sklearn.utils import shuffle
dataset = shuffle(dataset)

In [18]:
dataset.head()

,Delay National Aviation System,Delay Weather,Delay Carrier,Delay Late Aircraft Arrival,Arrival Delay,Origin Airport,time,temp,clouds,rh,dewpt,precip,snow,vis
48,0,0,0,0,9,ORD,2019-01-20 21:00:00,-10.90,78,71,-15.10,0.00,0.00,NaN
240,0,0,0,0,-2,IAD,2022-09-14 19:00:00,24.40,25,51,13.60,0.00,0.00,14.00
500,0,0,70,0,70,ORD,2019-07-01 21:00:00,22.20,6,84,19.40,0.00,0.00,NaN
492,0,0,0,0,-8,ORD,2022-04-08 22:00:00,5.60,87,70,0.60,0.00,0.00,16.00
309,0,0,6,40,46,ORD,2022-04-17 22:00:00,2.90,100,78,-0.50,0.25,0.00,10.00

In [19]:
dataset.dtypes

Delay National Aviation System             int64
Delay Weather                              int64
Delay Carrier                              int64
Delay Late Aircraft Arrival                int64
Arrival Delay                              int64
Origin Airport                            object
time                              datetime64[ns]
temp                                     float64
clouds                                     int64
rh                                         int64
dewpt                                    float64
precip                                   float64
snow                                     float64
vis                                      float64
dtype: object

In [20]:
dataset.isna().sum()

Delay National Aviation System      0
Delay Weather                       0
Delay Carrier                       0
Delay Late Aircraft Arrival         0
Arrival Delay                       0
Origin Airport                      0
time                                0
temp                                0
clouds                              0
rh                                  0
dewpt                               0
precip                              0
snow                                0
vis                               780
dtype: int64

In [21]:
dataset = dataset.dropna()

In [22]:
dataset = dataset.drop(columns=['time'])
dataset = pd.get_dummies(dataset, columns=['Origin Airport'], drop_first=True)
dataset.shape

(3168, 15)

In [23]:
dataset.columns

Index(['Delay National Aviation System', 'Delay Weather', 'Delay Carrier',
       'Delay Late Aircraft Arrival', 'Arrival Delay', 'temp', 'clouds', 'rh',
       'dewpt', 'precip', 'snow', 'vis', 'Origin Airport_EWR',
       'Origin Airport_IAD', 'Origin Airport_ORD'],
      dtype='object')

In [24]:
X_train, X_test, y_train, y_test = train_test_split(dataset.drop(columns=['Arrival Delay']), dataset['Arrival Delay'], test_size=0.2, random_state=42)
X_train
X_test
y_train
y_test

,Delay National Aviation System,Delay Weather,Delay Carrier,Delay Late Aircraft Arrival,temp,clouds,rh,dewpt,precip,snow,vis,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD
392,4,0,19,0,4.40,56,67,-1.20,0.00,0.00,16.00,0,1,0
1675,0,0,0,0,7.80,100,89,6.10,9.00,0.00,4.00,0,1,0
1107,0,0,0,0,25.00,100,81,21.50,0.00,0.00,14.00,0,0,1
629,0,0,13,9,22.50,57,63,15.10,0.00,0.00,16.00,0,0,1
1895,0,0,0,0,-3.90,50,84,-6.20,0.00,0.00,16.00,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506,0,0,0,0,10.60,100,60,3.20,0.00,0.00,16.00,0,0,1
1687,0,0,0,0,5.60,100,54,-3.00,0.00,0.00,16.00,0,0,1
820,0,0,0,0,24.40,50,59,15.90,0.00,0.00,16.00,0,0,1
1042,0,0,0,0,20.00,25,67,13.70,0.00,0.00,16.00,0,1,0
5,0,0,3,18,3.90,100,56,-4.10,0.00,0.00,16.00,1,0,0

,Delay National Aviation System,Delay Weather,Delay Carrier,Delay Late Aircraft Arrival,temp,clouds,rh,dewpt,precip,snow,vis,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD
29,0,0,0,0,-7.30,0,47,-16.70,0.00,0.00,16.00,0,1,0
1109,0,0,3,102,25.00,100,81,21.50,0.00,0.00,14.00,0,1,0
894,0,0,0,0,15.80,85,84,13.10,0.66,0.00,16.00,0,0,1
368,0,0,0,0,-1.70,100,78,-5.00,0.00,0.00,16.00,0,0,1
1333,0,0,0,0,16.70,25,74,12.00,0.00,0.00,16.00,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,0,0,0,0,1.70,100,69,-3.40,0.00,0.00,16.00,0,0,1
1137,0,0,0,0,6.80,0,55,-1.60,0.00,0.00,16.00,0,0,1
298,0,0,32,0,-1.10,100,88,-2.80,0.00,0.00,14.00,0,0,1
1487,0,0,0,0,13.90,100,63,7.00,0.00,0.00,16.00,0,0,1
246,0,0,0,0,-7.20,100,56,-14.50,0.00,0.00,14.00,0,1,0

392     23
1675     1
1107    13
629     22
1895    -6
        ..
1506   -15
1687   -15
820    -19
1042   -18
5       21
Name: Arrival Delay, Length: 2534, dtype: int64

29       -8
1109    105
894      -8
368      -7
1333    -12
       ...
394       0
1137     -8
298      32
1487    -17
246       8
Name: Arrival Delay, Length: 634, dtype: int64

In [25]:
from sklearn.tree import DecisionTreeRegressor

clf = DecisionTreeRegressor(random_state=50)

clf = clf.fit(X_train, y_train)

clf.score(X_train, y_train)

0.9994415367623334

In [26]:
test_output = pd.DataFrame(clf.predict(X_test), index = X_test.index, columns = ['pred_Arrival_Delay'])
test_output.head()

      pred_Arrival_Delay
29                 -8.00
1109              108.00
894                11.00
368                -8.00
1333              -12.00

In [27]:
test_output = test_output.merge(y_test, left_index = True, right_index = True)
test_output.head()
mae = abs(test_output['pred_Arrival_Delay'] - test_output['Arrival Delay']).mean()
mae.round(2)

   pred_Arrival_Delay  Arrival Delay
1              -10.00            -21
2               38.00             27
3              -20.00             14
6               38.00             27
7               17.00             17

12.67

In [28]:
(abs(test_output['pred_Arrival_Delay'] - test_output['Arrival Delay']).mean()/test_output['Arrival Delay'].mean()).round(2)

2.14

In [29]:
clf.score(X_test, y_test)

0.8899265758771214

In [30]:
import json

with open('../datasets/project/hs/forecast/syr-forecast.json', 'r') as f:
    syr_forecast_data = json.load(f)
    syr_forecast_df = pd.json_normalize(syr_forecast_data['data'])
    syr_forecast_df = syr_forecast_df[weather_factors]
    syr_forecast_df = syr_forecast_df.rename(columns={'timestamp_local': 'time'})
    syr_forecast_df['time'] = syr_forecast_df['time'].astype(np.datetime64)
    syr_forecast_df.columns

with open('../datasets/project/hs/forecast/den-forecast.json', 'r') as f:
    den_forecast_data = json.load(f)
    den_forecast_df = pd.json_normalize(den_forecast_data['data'])
    den_forecast_df = den_forecast_df[weather_factors]
    den_forecast_df = den_forecast_df.rename(columns={'timestamp_local': 'time'})
    den_forecast_df['time'] = syr_forecast_df['time'].astype(np.datetime64)
    den_forecast_df.columns
    
with open('../datasets/project/hs/forecast/ewr-forecast.json', 'r') as f:
    ewr_forecast_data = json.load(f)
    ewr_forecast_df = pd.json_normalize(ewr_forecast_data['data'])
    ewr_forecast_df = ewr_forecast_df[weather_factors]
    ewr_forecast_df = ewr_forecast_df.rename(columns={'timestamp_local': 'time'})
    ewr_forecast_df['time'] = syr_forecast_df['time'].astype(np.datetime64)
    ewr_forecast_df.columns
    
with open('../datasets/project/hs/forecast/iad-forecast.json', 'r') as f:
    iad_forecast_data = json.load(f)
    iad_forecast_df = pd.json_normalize(iad_forecast_data['data'])
    iad_forecast_df = iad_forecast_df[weather_factors]
    iad_forecast_df = iad_forecast_df.rename(columns={'timestamp_local': 'time'})
    iad_forecast_df['time'] = syr_forecast_df['time'].astype(np.datetime64)
    iad_forecast_df.columns
    
with open('../datasets/project/hs/forecast/ord-forecast.json', 'r') as f:
    ord_forecast_data = json.load(f)
    ord_forecast_df = pd.json_normalize(ord_forecast_data['data'])
    ord_forecast_df = ord_forecast_df[weather_factors]
    ord_forecast_df = ord_forecast_df.rename(columns={'timestamp_local': 'time'})
    ord_forecast_df['time'] = syr_forecast_df['time'].astype(np.datetime64)
    ord_forecast_df.columns

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

/var/folders/hm/06_n0ww96r7d2cltmt4xtyjr0000gn/T/ipykernel_45981/438693687.py:16: FutureWarning:

Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

/var/folders/hm/06_n0ww96r7d2cltmt4xtyjr0000gn/T/ipykernel_45981/438693687.py:24: FutureWarning:

Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

/var/folders/hm/06_n0ww96r7d2cltmt4xtyjr0000gn/T/ipykernel_45981/438693687.py:32: FutureWarning:

Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

/var/folders/hm/06_n0ww96r7d2cltmt4xtyjr0000gn/T/ipykernel_45981/438693687.py:40: FutureWarning:

Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead

Index(['time', 'temp', 'clouds', 'rh', 'dewpt', 'precip', 'snow', 'vis'], dtype='object')

In [31]:
pred_data = pd.read_csv('../datasets/project/project csv(Apr 21-24).csv')
pred_data.head()

,Date,Day,Origin Airport,Flight Number,Arrival Time,"Status (Early, On-time, Late, Severly Late)"
0,4/21/23,Friday,ORD,UA 3839,10:00 AM,NaN
1,4/21/23,Friday,ORD,UA 3524,4:50 PM,NaN
2,4/21/23,Friday,ORD,UA 538,9:34 PM,NaN
3,4/22/23,Saturday,ORD,UA 3839,10:00 AM,NaN
4,4/22/23,Saturday,ORD,UA 3524,4:50 PM,NaN

In [32]:
pred_data['Date'] = pred_data['Date'].astype(np.datetime64)

In [33]:
pred_data.isna().sum()

Date                                            0
Day                                             0
Origin Airport                                  0
Flight Number                                   0
Arrival Time                                    0
Status (Early, On-time, Late, Severly Late)    32
dtype: int64

In [34]:
pred_data['time'] = pd.to_datetime(pred_data['Date'].astype(str) + 'T' + 
                                   pred_data['Arrival Time'].astype(str)).round('H')
pred_data = pred_data.drop(columns=['Date', 'Arrival Time', 'Day', 'Flight Number'])
pred_data.head()

,Origin Airport,"Status (Early, On-time, Late, Severly Late)",time
0,ORD,NaN,2023-04-21 10:00:00
1,ORD,NaN,2023-04-21 17:00:00
2,ORD,NaN,2023-04-21 22:00:00
3,ORD,NaN,2023-04-22 10:00:00
4,ORD,NaN,2023-04-22 17:00:00

In [35]:
ord_pred = pred_data[pred_data['Origin Airport'] == 'ORD']
ord_pred.shape

ord_pred = ord_pred.merge(ord_forecast_df, on='time', how='left')
ord_pred.head()

(12, 3)

,Origin Airport,"Status (Early, On-time, Late, Severly Late)",time,temp,clouds,rh,dewpt,precip,snow,vis
0,ORD,NaN,2023-04-21 10:00:00,10.20,99,55,1.60,0.00,0,32.29
1,ORD,NaN,2023-04-21 17:00:00,16.00,29,30,-1.50,0.00,0,0.62
2,ORD,NaN,2023-04-21 22:00:00,11.10,0,39,-2.30,0.00,0,0.49
3,ORD,NaN,2023-04-22 10:00:00,4.30,100,53,-4.40,0.00,0,33.79
4,ORD,NaN,2023-04-22 17:00:00,3.60,100,92,2.50,2.52,0,1.40

In [36]:
den_pred = pred_data[pred_data['Origin Airport'] == 'DEN']
den_pred.shape

den_pred = den_pred.merge(den_forecast_df, on='time', how='left')
den_pred.head()

ewr_pred = pred_data[pred_data['Origin Airport'] == 'EWR']
ewr_pred.shape

ewr_pred = ewr_pred.merge(ewr_forecast_df, on='time', how='left')
ewr_pred.head()

iad_pred = pred_data[pred_data['Origin Airport'] == 'IAD']
iad_pred.shape

iad_pred = iad_pred.merge(iad_forecast_df, on='time', how='left')
iad_pred.head()

(4, 3)

,Origin Airport,"Status (Early, On-time, Late, Severly Late)",time,temp,clouds,rh,dewpt,precip,snow,vis
0,DEN,NaN,2023-04-21 15:00:00,8.40,55,16,-15.90,0.00,0.00,0.87
1,DEN,NaN,2023-04-22 15:00:00,0.80,100,70,-4.10,0.50,3.48,4.20
2,DEN,NaN,2023-04-23 15:00:00,10.60,76,40,-2.40,0.00,0.00,24.13
3,DEN,NaN,2023-04-24 15:00:00,13.00,83,43,0.70,0.00,0.00,24.13

(8, 3)

,Origin Airport,"Status (Early, On-time, Late, Severly Late)",time,temp,clouds,rh,dewpt,precip,snow,vis
0,EWR,NaN,2023-04-21 11:00:00,16.60,5,64,9.80,0.00,0,25.39
1,EWR,NaN,2023-04-22 00:00:00,13.20,100,100,13.20,0.04,0,0.10
2,EWR,NaN,2023-04-22 11:00:00,17.00,62,86,14.60,0.00,0,15.20
3,EWR,NaN,2023-04-22 23:00:00,11.30,99,99,11.10,0.00,0,0.30
4,EWR,NaN,2023-04-23 11:00:00,16.60,63,58,8.30,0.00,0,24.13

(8, 3)

,Origin Airport,"Status (Early, On-time, Late, Severly Late)",time,temp,clouds,rh,dewpt,precip,snow,vis
0,IAD,NaN,2023-04-21 14:00:00,31.30,0,20,5.70,0.00,0,0.80
1,IAD,NaN,2023-04-21 19:00:00,29.30,12,20,4.00,0.00,0,0.80
2,IAD,NaN,2023-04-22 14:00:00,25.90,100,36,9.70,0.00,0,0.53
3,IAD,NaN,2023-04-22 19:00:00,13.60,100,90,12.00,0.92,0,14.60
4,IAD,NaN,2023-04-23 14:00:00,16.70,62,41,3.40,0.00,0,24.13

In [39]:
d_nas = dataset['Delay National Aviation System'].mean()
d_w = dataset['Delay Weather'].mean()
d_c = dataset['Delay Carrier'].mean()
d_laa = dataset['Delay Late Aircraft Arrival'].mean()

In [40]:
pred_dataset = pd.concat([ord_pred, den_pred, ewr_pred, iad_pred])

In [41]:
pred_dataset = pred_dataset.drop(columns=['time'])
pred_dataset.head()

,Origin Airport,"Status (Early, On-time, Late, Severly Late)",temp,clouds,rh,dewpt,precip,snow,vis
0,ORD,NaN,10.20,99,55,1.60,0.00,0.00,32.29
1,ORD,NaN,16.00,29,30,-1.50,0.00,0.00,0.62
2,ORD,NaN,11.10,0,39,-2.30,0.00,0.00,0.49
3,ORD,NaN,4.30,100,53,-4.40,0.00,0.00,33.79
4,ORD,NaN,3.60,100,92,2.50,2.52,0.00,1.40

In [42]:
pred_dataset.insert(2, 'Delay National Aviation System', d_nas)
pred_dataset.insert(2, 'Delay Weather', d_w)
pred_dataset.insert(2, 'Delay Carrier', d_c)
pred_dataset.insert(2, 'Delay Late Aircraft Arrival', d_laa)
pred_dataset.head()

,Origin Airport,"Status (Early, On-time, Late, Severly Late)",Delay Late Aircraft Arrival,Delay Carrier,Delay Weather,Delay National Aviation System,temp,clouds,rh,dewpt,precip,snow,vis
0,ORD,NaN,6.94,4.97,1.75,1.65,10.20,99,55,1.60,0.00,0.00,32.29
1,ORD,NaN,6.94,4.97,1.75,1.65,16.00,29,30,-1.50,0.00,0.00,0.62
2,ORD,NaN,6.94,4.97,1.75,1.65,11.10,0,39,-2.30,0.00,0.00,0.49
3,ORD,NaN,6.94,4.97,1.75,1.65,4.30,100,53,-4.40,0.00,0.00,33.79
4,ORD,NaN,6.94,4.97,1.75,1.65,3.60,100,92,2.50,2.52,0.00,1.40

In [43]:
pred_dataset = pd.get_dummies(pred_dataset, columns=['Origin Airport'], drop_first=True)

In [44]:
pred_dataset.columns

Index(['Status (Early, On-time, Late, Severly Late)',
       'Delay Late Aircraft Arrival', 'Delay Carrier', 'Delay Weather',
       'Delay National Aviation System', 'temp', 'clouds', 'rh', 'dewpt',
       'precip', 'snow', 'vis', 'Origin Airport_EWR', 'Origin Airport_IAD',
       'Origin Airport_ORD'],
      dtype='object')

In [45]:
ordered_cols = ['Delay National Aviation System', 'Delay Weather', 'Delay Carrier', 'Delay Late Aircraft Arrival', 
                'temp','clouds','rh','dewpt','precip','snow','vis',
                'Origin Airport_EWR','Origin Airport_IAD','Origin Airport_ORD']
pred_dataset = pred_dataset.reindex(columns=ordered_cols)

In [46]:
pred_dataset.columns

Index(['Delay National Aviation System', 'Delay Weather', 'Delay Carrier',
       'Delay Late Aircraft Arrival', 'temp', 'clouds', 'rh', 'dewpt',
       'precip', 'snow', 'vis', 'Origin Airport_EWR', 'Origin Airport_IAD',
       'Origin Airport_ORD'],
      dtype='object')

In [47]:
pred_output = pd.DataFrame(clf.predict(pred_dataset), index = pred_dataset.index, columns = ['Pred Arrival Delay'])
pred_output.head()

   Pred Arrival Delay
0               19.00
1               19.00
2               19.00
3               16.00
4               21.00

In [48]:
bins = [-float('inf'), -10, 10, 30, float('inf')]
labels = ['Early', 'On-time', 'Late', 'Severly Late']

pred_output['Status (Early, On-time, Late, Severly Late)'] = pd.cut(pred_output['Pred Arrival Delay'], 
                                                                    bins=bins, labels=labels)
pred_output.head()

   Pred Arrival Delay Status (Early, On-time, Late, Severly Late)
0               19.00                                        Late
1               19.00                                        Late
2               19.00                                        Late
3               16.00                                        Late
4               21.00                                        Late

In [49]:
pred_output = pred_output.drop(columns=['Pred Arrival Delay'])
pred_output['Status (Early, On-time, Late, Severly Late)'].value_counts()

Late            32
Early            0
On-time          0
Severly Late     0
Name: Status (Early, On-time, Late, Severly Late), dtype: int64

In [50]:
pred_output.to_csv('project csv(Apr 21-24).csv', index=False)